/*index*/
li{
  font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p{cursor: pointer;}
li{list-style: none;trf}
//背景
#all{
  position: fixed;
  width: 100%;
  height: 100%;
}
.top1{
  width: 90px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  margin: 0 auto;
  top: -15px;
  right: 0;
  left: 0;

}
.top1>h3{
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: normal;
  text-shadow: 1px 2px #4dd0e1,2px 3px #2caaba;
}
.about-bg{
  width:100%;
  height: 100%;
  background-color:rgba(77,208,205,.5);
  position: absolute;
}
/* 内容 */
.about-me{
  width: 750px;
  height: 450px;
  background-color:rgba(255,255,255,.15);
  border-radius:20px;
  position: absolute;
  top:10%;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.about-title{
  width: 100%;
  height: 360px;
  position: relative;
  margin-top:30px;
}
.about-yy{
  position: absolute;
  left:0;
  top:0%;
  right: 0;
  margin: 0 auto;

}
.about-title .about-yy>img{
  width: 101px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -65px;
}
.about-title .about-yy>h3{
  width:150px;
  height: 30px;
  margin: 0 0 0 -65px;
  font-family: '微软雅黑';
  font-weight: normal;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 30px;
  font-size: 20px;
}
.about-title .mask{width:101px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom:5px solid rgb(26,120,28);
  border-right:5px solid rgb(26,120,28);
  border-top: 5px solid rgb(236,171,24);
  border-left: 5px solid rgb(236,171,24);
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -65px;
  z-index: 2;
}
.about-xx{
  text-align: center;
  width: 600px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  right: 0;
  left: 0;
  color:#bcf1f8;
  font-family: '微软雅黑';
}
.about-xx2{
  width: 500px;
  height: 130px;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  margin: 0 auto;
  top: 70%;
  right: 0;
  left: 0;
  color: white;
  font-family: '微软雅黑';
  text-align: center;
}
.about-right{
  width: 350px;
  height: 400px;
  position: absolute;
  left:240px;
  top:-25px;
}
/*第二版*/
.myData{
  width: 950px;
  height:650px;
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.myData-move{
  width: 35px;
  height: 35px;
  opacity: 0.2;
  position: absolute;
  left: 50px;
  top: 20px;
  display: none;
  /*   animation: mydatemove 12s 2s infinite; */
}
.myData-my span{
  font-size: 1.5em;
  padding: 0 .1em;
  color: burlywood;
}  

@keyframes mydatemove {
  0% { display: block;left:50%;top: 50px;}
  30% { left:-20%;top: 50%; }
  60% { left:50%;top: 90% ;}
  100% { left:110%;top:50% ;}
}

.myData .myData-icon{
  width: 800px;
  height: 650px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}
.myData .myData-icon li{
  float: left;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;

}
.myData .myData-icon li>img{
  width: 150px;height: 150px;opacity:0.8;
}
.myData .myData-icon li>span{
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-family: "微软雅黑";
  font-size: 20px;
}
.myData-my{
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: 115px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 100;
  line-height: 40px;

}
/*第三版*/
.myskill{
  width: 950;
  height: 650px;
  position: relative;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.myskill>ul{
  width: 70%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.myskill>ul>li{
  margin-top: 20px;
}

.myskill>ul>li>h4{
 height: 30px;
 line-height: 30px;
 cursor: pointer;
 padding-left: 5px;
 border-left: 3px solid ;
 overflow: hidden;
}
.myskill-content ul li:first-child{
  text-align: center;
}
.HaC{
  border-color: #3498db;
  background-color: #d6efff;
  color: #2a7da9;
  width: 10%;
}
.JaJ{
  width: 10%;
  border-color: #3498db;
  background-color: #d6efff;
  color: #2a7da9;
}
.KaJ{
  width: 10%;
  background-color: #eaf6d0;
  border-color: #80bd01;
  color: #6e9c0f;
}
.PS{
  width: 10%;
  background-color: #eaf6d0;
  border-color: #80bd01;
  color: #6e9c0f; 
}
.HD{
  width: 10%;
  background-color: #fff6dd;
  border-color: #fdbc40;
  color: #ff742a;
}
@keyframes HD {
  0% { width: 10%; }
  100% { width: 30%; }
}
@keyframes PS {
  0% { width: 10%; }
  100% { width: 50%; }
}
@keyframes KJ {
  0% { width: 10%; }
  100% { width: 60%; }
}
@keyframes JJ {
  0% { width: 10%; }
  100% { width: 80%; }
}
@keyframes HC {
  0% { width: 10%; }
  100% { width: 100%; }
}
.myskill-con{
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255,.5);
  color: rgba(0,0,0,.5);
  font-family: 'YouYuan';
  font-size: 25px;
  text-align: left;
  
}
/*字体*/
.headingWrapper {
  text-align: center;
  padding: 10px;
}
.myskill-con span{
  display: inline-block;
  text-align: center;
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  font-size: 60px;
  color: #e7e7e7;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
.color-bright .header {
  color: #f89bb4;
  text-shadow: 1.5px 1.5px 0 #d38076, -1.5px -1.5px 0 #d38076, -1.5px -1.5px 0 #d38076, -1.5px 1.5px 0 #d38076, 1.5px -1.5px 0 #d38076;
}
.color-bright .header--pushDown {
  text-shadow: 1.5px 1.5px 0 #fff, 0px 1.5px 0 #fff, -1.5px -1.5px 0 #fff, -1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff, 1.5px -1.5px 0 #fff, 0.77782px 0.77782px 0 #e62915, 1.55563px 1.55563px 0 #e62915, 2.33345px 2.33345px 0 #e62915, 3.11127px 3.11127px 0 #e62915, 3.88909px 3.88909px 0 #e62915, 4.6669px 4.6669px 0 #e62915, 5.44472px 5.44472px 0 #e62915, 6.22254px 6.22254px 0 #e62915, 7.00036px 7.00036px 0 #e62915, 7.77817px 7.77817px 0 #e62915;
}
.color-bright .header--pushDown:hover {
  text-shadow: 1.5px 1.5px 0 #d38076, -1.5px -1.5px 0 #d38076, -1.5px -1.5px 0 #d38076, -1.5px 1.5px 0 #d38076, 1.5px -1.5px 0 #d38076;
}
/* .header--pushDown {
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.77782px 0.77782px 0 #aaaaaa, 1.55563px 1.55563px 0 #aaaaaa, 2.33345px 2.33345px 0 #aaaaaa, 3.11127px 3.11127px 0 #aaaaaa, 3.88909px 3.88909px 0 #aaaaaa, 4.6669px 4.6669px 0 #aaaaaa, 5.44472px 5.44472px 0 #aaaaaa, 6.22254px 6.22254px 0 #aaaaaa, 7.00036px 7.00036px 0 #aaaaaa, 7.77817px 7.77817px 0 #aaaaaa;
  } */
/* .header--pushDown:hover {
  transform: translate(9px, 9px);
  text-shadow: 1.5px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5;
  } */
  .header--shadow:hover {
    transform: translate(5px, 0);
  }
  .header--shadow:hover {
    transform: translate(-5px, 0);
  }

  .diff1{filter:url(#diff1)}
  .diff1{
    display:inline-block;
    font-weight:bold;
    color:#def;
    text-shadow:0 0 1px currentColor,-1px -1px 1px #000,0 -1px 1px #000,1px -1px 1px #000,1px 0 1px #000,1px 1px 1px #000,0 1px 1px #000,-1px 1px 1px #000,-1px 0 1px #000;
    -webkit-filter:url(#diff1);
    filter:url(#diff1);
  }
  .myskill-con ul{
    width: 100%;

  }
  .myskill-con ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;

  }
  .myskill-content {
    padding: 10px;
    display:none;

  }
  .skill-detail-block {
   display: block;
 } 
 /*第四版*/
 .item-content{
  width: 70%;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
 }
 .item-content .item-content-items{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;

 }
 .item-content .item-content-items li{
    width: 20%;
    height: 350px;
    background: red;
 }
 /*第五版*/
  .callMe span{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #eee;
    cursor: pointer;
    font-family: 'Microsoft YaHei';
  }
  .callMe ul{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 auto;

  }
 .callMe ul li{
  text-align: center;
  color: #0f7c9d;
  font-size: 18px;
  line-height: 30px;
    cursor: pointer;

 }
 /* 版心 */
 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

@media (max-width: 779px){
  .myskill>ul{
    top: 7%;
  }
  .myskill>ul>li{
    margin-bottom: 22px;
  }
  .myskill-con{
    top: 53%;
    height: 200px;
  }
  .myskill-con span{
    font-size: 40px;
  }
  .myskill-con ul {
    width: 100%;
    height: 100%;
}
.myskill-con ul li{
      width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
}
  .myData{
    width: 300px;
  }
  .myData .myData-icon {
    width: 300px;
    height: 550px;
    top: 20%;
  }
  .myData .myData-icon li {
    width: 60px;
    height: 60px;
  }
  .myData .myData-icon li>img {
    width: 60px;
    height: 60px;
  }
  .myData .myData-icon li>span{
    width: 60px;
    font-size: 12px;
  }
  .myData-my {
    width: 300px;
    bottom: 80px;
  }

  .about-me {
    width: 300px;
    background-color:transparent;
  }
  .about-xx {

    width: 280px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    margin: 0 auto;
    top: 45%;
    right: 0;
    left: 0;
    letter-spacing: 2px;
  }
  .about-xx2 {
    width: 280px;
    font-size: 12px;
    word-break: normal;
    letter-spacing: 2px;
    line-height: 15px;
  }
  .iconfont{
    color:rgba(255,255,255,.6);
  }
}

@media  (min-width: 780px) and (max-width: 991px){
 .container {
  width: 750px;
}
.myData {
  width: 700px;
}
.myData .myData-icon {
  width: 600px;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .myData {
    width: 800px;
  }
  .myData .myData-icon {
    width: 700px;
  }

}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}
@media (min-width: 1600px){
  .container {
    width: 1570px;
  }
  .about-me{
    top:25%;
  }
  .top1{
    top: 15px;
  }
  .myData .myData-icon{
    top:30%;
  }
  .myData-my{
    bottom: 0;
  }
  .myskill>ul{
    top: 15%;
  }
  .myskill>ul>li>h4 {
    height: 40px;
    line-height: 40px;
  }
  .myskill-con{
    top: 75%;
    height: 250px;
  }
  .myskill-con span{
    font-size: 96px;
  }
  .myskill-con ul li{
    height: 60px;
    line-height: 60px;

  }
}


