#music {
	width: 55px;
	height: 55px;
	position: fixed;
	top: 5px;
	right: 15px;
	z-index: 10;
	cursor: pointer;
}

#music>img:nth-child(2) {
	display: none;
}

.music_anim {
	-webkit-animation: music_scale 0.8s linear infinite alternate;
	-ms-animation: music_scale 0.8s linear infinite alternate;
	animation: music_scale 0.8s linear infinite alternate;
}

@-webkit-keyframes music_scale {
	from {
		-webkit-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		/*-0-transform: scale(0.8, 0.8);*/
		transform: scale(0.8, 0.8);
	}
	to {}
}

@-ms-keyframes music_scale {
	from {
		-webkit-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		/*-0-transform: scale(0.8, 0.8);*/
		transform: scale(0.8, 0.8);
	}
	to {}
}

@keyframes music_scale {
	from {
		-webkit-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		/*-0-transform: scale(0.8, 0.8);*/
		transform: scale(0.8, 0.8);
	}
	to {}
}

#contact {
	width:130px;
	height: 55px;
	position: fixed;
	top: 5px;
	left: 15px;
	z-index: 10;
	cursor: pointer;
}
ul,li{margin: 0;padding: 0;}
#contact>ul{width: 200px;height: 55px;list-style:none;}
#contact>ul>li{
	width:55px ;
	height: 55px;
	float: left;
	border-radius:50%;
	box-sizing: border-box;
}
#contact>ul>li>a{
	text-decoration: none;
	color: rgba(255,255,255,.6);
}
#contact>ul>li>i{
	color: rgba(255,255,255,.6);
}
@media (max-width: 779px){
	#music {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
}
	#contact{
		left: 5px;
	}
	#contact>ul {
    width: 90px;
    height: 40px;
}
#contact>ul>li {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}
	#contact>ul>li>a{
	color: rgba(255,255,255,.6);
}
}
#contact>ul>li>a:hover{
    color: rgb(236,171,24);
}
/* #contact>ul>li>i{
	position: fixed;
	top: 10px;
	width: 49px;
	height: 49px;
	border-radius:50%;
    box-shadow: 1px 2px 5px #aaa;
} */

#contact>ul>li:hover i{
	border-radius: 50%;
	color: #78C1B0;
	box-shadow: -2px -3px 5px #aaa inset;
}
#contact>ul>li:hover:nth-child(2) i{
	border-radius: 50%;
	color: #7CB6FF;
	box-shadow: -2px -3px 5px #aaa inset;
}
.contact-way{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 65px;
}
#contact-weixin::after{
    content: "";
    width: 0;
    height: 0;
    border: 10px solid #78C1B0;
    position: absolute;
    left: 18px;
    top: -20px;
    z-index: 100;
    border-color:transparent  transparent #78C1B0 transparent ;
}
#contact-qq::after{
    content: "";
    width: 0;
    height: 0;
    border: 10px solid #7CB6FF;
    position: absolute;
    left: 80px;
    top: -20px;
    z-index: 100;
    border-color:transparent  transparent #7CB6FF transparent ;
}
.contact-way>img{
	width: 200px;
	height: 200px;
	border-radius: 20px;
}
#pdf{
	position:absolute;
	border:1px solid #333;
	border-radius: 3px;
	background:rgb(215,219,186);
	padding:1px;
	color:#333;
	display:none;
	font-family: ' Microsoft YaHei';
}
